# rotate displays
xrandr --output DisplayPort-0 --primary --mode 1920x1080 --pos 1080x380 --rate 144.00 --output HDMI-A-0 --mode 1920x1080 --rate 60.00 --pos 0x0 --rotate right

# Use feh to set wallpapers
feh --bg-fill /home/callum/Pictures/wallpapers/cool_scenery.png /home/callum/Pictures/wallpapers/circle_out.png

# Source .Xresources
xrdb -merge ~/.Xresources

# Start compositor
picom -b --config ~/.config/picom/picom.conf

pipewire &
eval $(gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh | sed 's/^(.*)/export\1/g')
