# Use feh to set wallpapers
feh --bg-fill /home/callum/Pictures/wallpapers/cool_scenery.png /home/callum/Pictures/wallpapers/circle_out.png

# Source .Xresources
xrdb -merge ~/.Xresources

# Start the audio daemon
pipewire &
pipewire-pulse &

# Start compositor
picom -b --config ~/.config/picom/picom.conf
